form#replyForm(action="/post", enctype="multipart/form-data", method="POST")
  input(name="#{type}", type="hidden", value="#{id}")
  table
    tbody
      tr
        td(colspan="2")
          input.span4(name="title", type="text", placeholder="Title") 
      tr
        td(colspan="2")
         textarea.span4(name="text", rows="4", cols="50", placeholder="Content")
      tr
        td
          input.span3.pull-left(name="file", type="file")
        td
          input.pull-right(type="submit", value="Submit Post")