form(action="/post", enctype="multipart/form-data", method="post")
  if board
    input(name="board", type="hidden", value="#{board}")
  else if thread
    input(name="thread", type="hidden", value="#{thread}")
  table
    tbody
      tr
        td
          input.span4(name="title", type="text", placeholder="Title") 
      tr
        td
         textarea.span4(name="text", rows="4", cols="50", placeholder="Content")
      tr
        td
          input.span3.pull-left(name="file", type="file")
          input.pull-right(type="submit", value="Submit Post")